@font-face {
    font-family: Cera Pro;
    src: url('./fonts/Cera-Pro-Light.otf') format('otf');
    font-weight: 300;
}

@font-face {
    font-family: Cera Pro;
    src: url('./fonts/Cera-Pro-Medium.otf') format('otf');
    font-weight: 500;
}

@font-face {
    font-family: Cera Pro;
    src: url('./fonts/Cera-Pro-Bold.otf') format('otf');
    font-weight: 600;
}
