/* Import font */

/* Nothing you could do - testimonial font  */
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");

/* unbounded for headings  */
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Unbounded:wght@500&display=swap");

/* Regular */
@font-face {
  font-family: "PPNeueMontreal-Regular";
  src: url("/fonts/PPNeueMontreal-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "PPNeueMontreal-Bold";
  src: url("/fonts/PPNeueMontreal-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/* Book */
@font-face {
  font-family: "PPNeueMontreal-Book";
  src: url("/fonts/PPNeueMontreal-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "PPNeueMontreal-Medium";
  src: url("/fonts/PPNeueMontreal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: "PPNeueMontreal-Italic";
  src: url("/fonts/PPNeueMontreal-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

/* Semibold Italic */
@font-face {
  font-family: "PPNeueMontreal-SemiBoldItalic";
  src: url("/fonts/PPNeueMontreal-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;500&display=swap");

/* Variables */

:root {
  /* Size */
  --size-body: 19px;
  --size-normal: 1.5rem;
  --size-medium: 2.5rem;
  --size-xlarge: 4rem;
  --size-xxlarge: 6rem;

  /* weight */
  --weight-light: 300;
  --weight-normal: 500;
  --weight-bold: 600;

  /* colors */
  --color-almost-black: #0e0e1e;
  --color-not-white: #f2f2f2;
  --color-bright-lilac: #bb98ff;
  --color-blue-purple: #989bff;
  --color-baby-blue: #8dddff;
  --color-bluish-gray: #44474f;
  --color-transparent-10: #0000001f;
  --color-body-bg: #f2f3f7;
  --color-yellow: #ffe059;
  --color-off-white: #fbfbfd;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #ffe059;
  color: black;
}

/* global  */

.jump-nav {
  display: none;
}

/* utilities */

.p-5 {
  padding: 5em !important;
}

.mb-15 {
  margin-bottom: 1.5em;
}

.mb-2em {
  margin-bottom: 2em;
}

.mb-5em {
  margin-bottom: 5em;
}

.mt-4em {
  margin-top: 4em;
}

.mt-5em {
  margin-top: 5em;
}

.mt-10 {
  margin-top: 10rem;
}

.mt-12 {
  margin-top: 12rem;
}

.mt-20 {
  margin-top: 20vh;
}

/* mobile  */
.mb-4em {
  margin-bottom: 4rem;
}

.mt-6 {
  margin-top: 6em;
}

.mt-9 {
  margin-top: 9em;
}

.mb-6 {
  margin-bottom: 6em;
}

.mb-75 {
  margin-bottom: 0.75em;
}

body {
  font-family: "PPNeueMontreal-Medium", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", sans-serif;
  font-size: var(--size-body);
  line-height: 1.618;
  color: #6e6e73;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  cursor: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjciIHZpZXdCb3g9IjAgMCAyMiAyNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTMuODMgMjIuNzg4NUwxLjk1ODc0IDMuNTUxOTFMMTcuNjgyNSAxNC43OTA4TDkuNzUwNTYgMTUuOTMzNkw5LjE1NjY5IDE2LjAxOTFMOC43ODU2NiAxNi40OTA2TDMuODMgMjIuNzg4NVoiIGZpbGw9IndoaXRlIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjMiLz4KPC9zdmc+Cg==),
    auto;
}

/* navbar  */

.main-nav a {
  /* background-color: var(--color-not-white); */
  color: var(--color-almost-black);
  width: 100px;
  text-align: center;
  letter-spacing: 0.3px;
  text-decoration: none;
  padding: 10px 20px;
}

.main-nav .active {
  background-color: var(--color-almost-black);
  color: var(--color-not-white);
  border-radius: 50px;
}

.navbar {
  box-shadow: none;
  align-items: center;
  margin-top: var(--size-normal);
  /* justify-content: center; */
}

.navbar .main-nav {
  margin: 1rem 0;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 18% 0%;
  }
  50% {
    background-position: 83% 100%;
  }
  100% {
    background-position: 18% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 18% 0%;
  }
  50% {
    background-position: 83% 100%;
  }
  100% {
    background-position: 18% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 18% 0%;
  }
  50% {
    background-position: 83% 100%;
  }
  100% {
    background-position: 18% 0%;
  }
}

.nav-link {
  padding: 0.5em 0;
  font-weight: 400;
}

.navbar-brand {
  background: linear-gradient(
    135deg,
    #f37127,
    #f3b311,
    #6cf311,
    #11c628,
    #8dddff,
    #100be2,
    #fdeff9,
    #ec38bc,
    #7303c0,
    #03001e
  );
  background-size: 800% 800%;

  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.navbar-expand .navbar-nav .nav-link {
  margin: 0 0.5em;
  padding: 0 0;
  color: inherit;
  font-size: var(--size-body);
}

/* .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
  color: var(--color-almost-black);
} */

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.navbar-expand .navbar-collapse {
  align-self: center;
}

.img-hero {
  height: 120px;
  border-radius: 1000px;
}

.grow {
  transition: all 0.25s ease-in-out;
}
.grow:hover {
  transform: scale(1.2);
}

/* typography and links */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-almost-black);
  /* font-family: "Unbounded", sans-serif; */
}

.underline-dotted {
  border-bottom: 1px dotted black;
}

a {
  color: var(--color-almost-black);
  text-decoration: none;
  transition: 0.2s ease-out all;
}

a:hover {
  text-decoration: none;
  color: var(--color-almost-black);
  opacity: 0.5;
}

h1 {
  font-size: 2rem;
}

.h1-small {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
}

.h2-label {
  text-transform: uppercase;
  font-size: 1rem;
  background: linear-gradient(
    135deg,
    #27c7f3,
    #1137f3,
    #ec38bc,
    #7303c0,
    #03001e
  );
  background-size: 500% 500%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h3 {
  font-size: 1.25rem;
}

.section-expertise {
  background-color: var(--color-off-white);
  padding: 1rem 0 3rem 0;
  border-radius: 20px;
}

.section-expertise h3 {
  font-size: 2rem;
}

.section-expertise li {
  list-style-type: none;
}

.section-highlight {
  background-color: var(--color-almost-black);
  height: 90vh;
  border-radius: 30px;
  align-items: center;
}

.section-highlight h3 {
  color: var(--color-not-white);
}

.heading-medium {
  font-size: 1.5rem;
}

.p-quote {
  font-size: 1.5rem;
  font-style: italic;
}

/* mobile p-hero  */
.p-hero {
  font-size: 1.5rem;
  line-height: 125%;
}

.font-light {
  /* font-weight: 300; */
  opacity: 60%;
}

b,
strong {
  color: var(--color-almost-black);
  font-weight: normal;
}

.p-highlight {
  background-color: #e3ebff;
  padding: 0 0.5rem;
  border-radius: 4px;
  font-weight: var(--weight-normal);
}

.p-tag {
  font-weight: var(--weight-normal);
  opacity: 0.8;
}

abbr[title] {
  border-bottom: 1px dotted black;
  text-decoration: none;
}

.p-regular {
  font-weight: 400;
}

/* paragraph */
p {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

/* list item / li */

li {
  margin-top: 1rem;
}

.footer h2 {
  color: white;
}

.p-large {
  font-size: var(--size-normal);
}

.container-cta a {
  color: white;
  background-color: #100be2;
  border-radius: 16px;
  border: 4px solid #a2a0ff;
  padding: 12px 32px;
  display: inline-block;
}

.container-cta a:hover {
  text-decoration: none;
  opacity: 0.5;
  animation: bounce 3s infinite;
}

/* mobile cover photo  */

.cover-photo {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  border: 2px solid #efefef;
  transition: all 0.5s cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  60% {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

/* text focus in animation class  */
.text-focus-in {
  -webkit-animation: text-focus-in 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95)
    both;
  animation: text-focus-in 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
}

/* keyframes start  */

/* ----------------------------------------------
 * Generated by Animista on 2021-7-30 23:13:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* animation end */

.container-100 {
  font-size: 1.7rem;
  text-align: center;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

.container-100:hover {
  cursor: none;
}

/* about section */
#about {
  margin-bottom: 3em;
  padding-bottom: 3em;
}

/* work section */
#work {
  margin-bottom: 3em;
  padding-bottom: 3em;
}

.project i {
  transition: all 0.3s ease-out;
  transform: translateX(0px);
}

.project:hover i {
  transform: translateX(10px);
}

/* .project h3{
  font-weight: 300;
} */

.project img {
  width: 100%;
  transition: all 0.3s ease-out;
  transform: scale(1);
}

.project:hover img {
  transform: scale(1.1);
}

img,
video {
  border-radius: 30px;
  border: 1px solid rgb(211 212 216);
}

.img-no-border {
  border: none;
}

/* accordion */

.card {
  border-radius: 16px;
  border: 1px solid rgb(0 0 0 / 30%);
}

.btn {
  font-size: inherit;
}

.btn-link {
  font-weight: 500;
  color: #100e33;
}

.btn-link:hover {
  color: inherit;
  text-decoration: none;
}

.card-header {
  background-color: #e5e4fc;
  border: 2px solid rgb(4, 2, 39);
  padding: 0.75rem 0.25rem;
}

.card-header:first-child {
  border-radius: 16px;
}

/* testimonial section */

.section-testimonial {
  border-radius: 20px;
  padding: 5rem 16px;
  background-color: var(--color-off-white);
}

.section-testimonial h3 {
  font-size: 3rem;
  /* font-family: "Nothing You Could Do", cursive; */
}

.section-testimonial p {
  margin-bottom: 1rem;
}

/* quote */

.blockquote {
  font-size: var(--size-body);
}

.border-gray {
  border: 1px solid #dae0e5;
}

.phone-radius {
  border-radius: 24px;
}

.bg-dark {
  background-color: #111 !important;
  border-radius: 4px;
}

/* footer section */
.footer {
  background-color: var(--color-almost-black);
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  height: 80vh;
  padding: 8rem 0 0;
}

.footer a {
  color: white;
}

.footer-cta {
  background: linear-gradient(
    135deg,
    #f37127,
    #f3b311,
    #6cf311,
    #11c628,
    #8dddff,
    #100be2,
    #fdeff9,
    #ec38bc,
    #7303c0,
    #03001e
  );
  background-size: 2000% 2000%;

  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* tooltip */

.tooltip-inner {
  font-size: 2rem;
  border-radius: 8px;
  padding: 0.5em;
  max-width: 100%;
  background-color: white;
}

/* Scroll bar */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(118, 118, 118, 0.5);
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: white;
}

.icon-gif {
  height: 75px;
  width: auto;
}

.container-title {
  padding-top: 5rem;
}

.tooltip .arrow {
  display: none;
}

/* media queries start */
@media (min-width: 768px) {
  /* desktop project image */
  .project-img {
    transition: all 0.3s ease-out;
    border: 1px solid rgb(196, 196, 196);
    overflow: hidden;
  }

  .navbar {
    justify-content: left;
  }

  .navbar .main-nav {
    margin: auto;
  }

  .img-70 {
    width: 70%;
  }

  .img-90 {
    width: 90%;
  }

  /* desktop cover photo */

  .cover-photo {
    height: 370px;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
    border: 2px solid #efefef;
    transition: all 0.5s cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px -4px rgba(0, 0, 0, 0.19); */
  }

  .cover-photo:hover {
    box-shadow: rgb(16 10 96 / 0.2) 0px 30px 60px;
    transform: scale(1.02, 1.02);
  }

  .image-cover {
    transition: all 0.5s cubic-bezier(0.2, 0.8, 0.2, 1) 0s;
  }

  .image-cover:hover {
    box-shadow: rgb(16 10 96 / 0.2) 0px 30px 60px;
    transform: scale(1.02, 1.02);
  }

  .project-locked:hover {
    cursor: not-allowed;
  }

  /* desktop typography */

  h1 {
    font-size: var(--size-medium);
  }

  h5 {
    font-size: 1rem;
  }

  /* desktop utlities */

  .intro-hero {
    font-size: 4rem;
  }

  .text-shadow {
    background-image: linear-gradient(
      rgb(0, 0, 0) 60%,
      transparent 100%
    ); /* Inverted color */
    letter-spacing: -2px;
    text-shadow: rgb(255 255 255) 0px 5px 15px, rgb(0 0 0 / 0%) 0px -5px 15px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .hero-h1 {
    font-size: 10rem;
    line-height: 110%;
  }

  .hero-h2 {
    font-size: var(--size-xlarge);
  }
  .mb-4em {
    margin-bottom: 20vh;
  }

  .line-height-reset {
    line-height: 1;
  }

  h2 {
    font-size: var(--size-medium);
  }

  .heading-medium {
    font-size: var(--size-medium);
  }

  .p-hero {
    font-size: var(--size-medium);
    line-height: 125%;
  }

  .container-cta h2 {
    font-size: 3rem;
  }

  /* desktop nav */

  .nav-link {
    padding: 0.1em 0;
  }

  .nav-item {
    margin-bottom: 0 !important;
  }

  .navbar-brand {
    padding: 0;
    font-size: var(--size-normal);
    margin-right: 4rem;
  }

  /* desktop sections  */

  .section-about .img-hero {
    height: auto;
  }

  .section-about a {
    border-bottom: 1px dotted var(--color-almost-black);
  }

  .section-about-visual {
    width: 1140px;
  }

  .section-expertise .row {
    justify-content: space-evenly;
  }
}

/* end of 768px media query */

/* media query 1200px */

@media (min-width: 1200px) {
  .jump-nav {
    display: inline-grid;
    position: fixed;
    top: 30vh;
    left: 5vh;
    z-index: 2;
  }

  .jump-nav a {
    padding: 0.25rem 0;
    font-size: 0.9rem;
    color: inherit;
    font-weight: 500;
  }

  .container-hero {
    padding: 20vh;
  }
}
/* end of media query 1200px */

/* fancybox animations  */
img[data-fancybox] {
  cursor: zoom-in;
}

.fancybox__container {
  --fancybox-bg: rgba(193, 201, 210, 0.7);
}

.fancybox-zoomOut {
  animation: 0.2s ease-in-out fancybox-zoomOut both;
}

.fancybox-zoomIn {
  animation: 0.25s ease-in-out fancybox-zoomIn both;
}

@keyframes fancybox-zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8);
  }

  100% {
    opacity: 1;
  }
}

@keyframes fancybox-zoomOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8);
  }
}

.hidden {
  display: none;
}

ul {
  margin-left: -1rem;
}

.back-button {
  padding: 0.5em 1em;
  background-color: #f6f6f6;
  border-radius: 50px;
  color: var(--color-almost-black);
  z-index: 100;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 95%;
}

.blurry-text {
  color: transparent;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
